.admission-cta{
padding:80px 20px;

background:linear-gradient(
135deg,
#111827,
#1f2937
);

color:white;
}

.admission-cta .container{
display:flex;
align-items:center;
justify-content:space-between;
gap:40px;
}

.admission-text{
max-width:650px;
}

.admission-cta h2{
font-size:36px;
margin-bottom:16px;
color:white;
}

.admission-cta p{
color:#e5e7eb;
line-height:1.7;
}

.admission-btn{
background:#FFC107;
border:none;
color:#111827;
padding:14px 28px;
border-radius:8px;
font-weight:600;
cursor:pointer;
transition:.3s;
}

.admission-btn:hover{
background:#e6ac00;
transform:translateY(-2px);
}

@media(max-width:900px){

.admission-cta .container{
flex-direction:column;
align-items:flex-start;
}

}